
/* Color scheme stolen from Sergey Karayev */
a {
    color: #1772d0;
    text-decoration:none;
}
a:focus, a:hover {
    color: #f09228;
    text-decoration:none;
}
body,td,th,tr,p,a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
name {
    font-family: Helvetica, 'Latha', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}
