@import url('"https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i"');

/* Color scheme stolen from Sergey Karayev */
a {
    color: #1772d0;
    text-decoration:none;
}
a:focus, a:hover {
    color: #f09228;
    text-decoration:none;
}
body,td,th,tr,p,a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
}
name {
    font-family: 'Archivo Narrow', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}
